.mainAside
  - current_user.inverse_friendships.where(state: "pending").each do |request|
    %section
      %figure
        = link_to(user_path(request.user)) do
          = image_tag image_view(request.user)
      .paraWrap
        %p.paraWrap #{ request.user.role.capitalize } request from #{ request.user.first_name.capitalize } 
        = link_to 'Accept', friendship_path(request), method: :patch, class: 'button'
        = link_to 'Decline', friendship_path(request), method: :delete, class: 'button'
