%article.userCard
  = image_tag image_view(user)
  %p#name= user.fullname
  - if user.mentee?
    %p#stack= user.course
  - if user.mentor?
    %p#position= user.position
    %p#company= user.company
  = link_to "View Details", user, class: 'button user-card-button'
