- content_for :javascripts do
  %script{src: 'https://platform.linkedin.com/in.js', type: 'text/javascript'}
    :cdata
      api_key: #{ENV['LINKEDIN_KEY']}
      onLoad: onLinkedInLoad
      authorize: false

.profileBuild
  %button.skip
    = link_to "Save this Step for Later", user_path(@user)
  %h1 SWEET!
  = form_for(@user) do |f|
    %section#s1
      %h2
        Is your name correct?
      .fieldWrap
        = f.label :first_name
        = f.text_field :first_name
        = f.label :last_name
        = f.text_field :last_name
        %span.next.fa.fa-angle-double-right#next_1
      %nav.progBar
        %ul
          %li.progDot.active
          %li.progDot
          %li.progDot
          %li.progDot
          - if current_user.role == "mentee"
            %li.progDot
          %li.progDot
    %section#s2
      %h2
        We'll use a few quick questions to build your profile.
        Tell us a little about yourself.<br> Anything you want.
      .fieldWrap
        = f.label :background, 'Bio'
        = f.text_area :background, placeholder: "Well, on Saturdays I like to juggle chainsaws dressed like a sailor..."
        %span.next.fa.fa-angle-double-right#next_2
      %nav.progBar
        %ul
          %li.progDot
          %li.progDot.active
          %li.progDot
          %li.progDot
          - if current_user.role =="mentee"
            %li.progDot
          %li.progDot
    - if current_user.role == "mentee"
      %section#s3
        %h2
          What technologies are you familiar with?
        .fieldWrap
          = f.label :technologies
          = f.text_area :technologies, placeholder: 'Example: Python, JavaScript, and Node.js'
        %span.next.fa.fa-angle-double-right#next_3
        %nav.progBar
          %ul
            %li.progDot
            %li.progDot
            %li.progDot.active
            %li.progDot
            %li.progDot
            %li.progDot
      %section#s4
        %h2
          What do you want from your mentorship?
        .fieldWrap
          = f.label :hopes_for_mentorship
          = f.text_area :hopes_for_mentorship, placeholder: 'Example: I want to learn more about scaling applications.'
        %span.next.fa.fa-angle-double-right#next_4
        %nav.progBar
          %ul
            %li.progDot
            %li.progDot
            %li.progDot
            %li.progDot.active
            %li.progDot
            %li.progDot
      %section#s5
        %h2
          What do you want for your professional future?
        .fieldWrap
          = f.label :hopes_for_future, 'Hopes for my professional future'
          = f.text_area :hopes_for_future, placeholder: 'Example: I want to move to Silicon Valley and find work there.'

          %span.next.fa.fa-angle-double-right#next_5
        %nav.progBar
          %ul
            %li.progDot
            %li.progDot
            %li.progDot
            %li.progDot
            %li.progDot.active
            %li.progDot
    - if current_user.role == "mentor"
      %section#s3
        %h2
          What is your role right now?
        .fieldWrap
          = f.label :position
          = f.text_area :position, placeholder: "Example: Senior Engineer"
          %span.next.fa.fa-angle-double-right#next_3
        %nav.progBar
          %ul
            %li.progDot
            %li.progDot
            %li.progDot.active
            %li.progDot
            %li.progDot
      %section#s4
        %h2
          Where do you work? <br> Just the company name is fine.
        .fieldWrap
          = f.label :company
          = f.text_field :company, type: "text", placeholder: "ACME Corp."
          %span.next.fa.fa-angle-double-right#next_5
        %nav.progBar
          %ul
            %li.progDot
            %li.progDot
            %li.progDot
            %li.progDot.active
            %li.progDot
    %section#s6
      %h2
        Would you like Mentor Match to use your LinkedIn profile picture?
        Mentor Match will automatically try use Gravatar, but you can use
        your LinkedIn profile picture instead by clicking the button below.
      .linkedin
        %script{type: 'IN/Login'}
      .fieldWrap
        = f.hidden_field :image_url
        %button.submit
          = f.submit 'Submit', class: "submit"
      %nav.progBar
        %ul
          %li.progDot
          %li.progDot
          %li.progDot
          %li.progDot
          - if current_user.role == "mentee"
            %li.progDot
          %li.progDot.active
