!!!
%html
  %head
    %title MentorMatch
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{src: 'https://platform.linkedin.com/in.js', type: 'text/javascript'}
      :cdata
        api_key: #{ENV['LINKEDIN_KEY']}
        authorize: true
    %script{type: 'IN/Login'}
    = csrf_meta_tags
  %body
    = yield
